.sidebar {
    text-align: center;
    font-family: 'Lato';

}
h1 {

    font-family: 'Lato';
    font-weight: 400;
}
h2 {
    font-size: 20px;
    font-weight: 400px;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}
.profile {
    margin-bottom: 25px;
}
.tier {
    display: inline-block;
    text-transform: lowercase;
}
.tier::first-letter {
    text-transform: capitalize;
}
